<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>사용자 ID</th>
        <th>이름</th>
        <th>카테고리</th>
        <th>분야</th>
        <th>날짜</th>
        <th>위치</th>
        <th>상태</th>
        <th>이미지</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.lost_id}"></td>
        <td th:text="${board.user_id}"></td>
        <td th:text="${board.lost_name}"></td>
        <td th:text="${board.category}"></td>
        <td th:text="${board.field}"></td>
        <td th:text="${board.lost_date}"></td>
        <td th:text="${board.lost_location}"></td>
        <td th:text="${board.lost_status}"></td>
        <td>
            <img th:src="${board.imageBase64}" alt="이미지" width="100" height="100"/>
        </td>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>